<div class="row">
  <div  class = "col-sm-6" *ngIf="professorSelecionado">
    <div class ="row">
      <div class=  "me-auto">
        <app-titulo [titulo]="'Cód: professor:' + professorSelecionado.id"></app-titulo>
      </div>
      <div class="mt-1 ">
        <button class="btn btn-outline-danger" (click) = "voltar()">
          Fechar</button>
        </div>
      </div>
      
      <form [formGroup] ="professorForm" (submit)="professorSubmit">
        <div class="form-group">
          <label for="formGroupExampleInput">Nome</label>
          <input type="text" formControlName ='nome' class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Disciplina</label>
          <input type="text" formControlName ='disciplina' class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
        </div>
        <hr>
        <button class="btn btn-success" [disabled] ="!professorForm.valid">Enviar</button>
      </form>
    </div>
    
  <div [ngClass] ="{'col-sm-6': professorSelecionado,'col-sm-12': !professorSelecionado}">
    <app-titulo [titulo]="titulo"></app-titulo>
    
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th> 
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let professor of professores">
          <td>
            <button (click) = "professorSelect(professor)" class ="text-dark btn btn-outline-warning">detalhe</button>
          </td>
          <th scope="row">{{professor.id}}</th>
          <td>{{professor.nome}}</td>
          <td>{{professor.disciplina}}</td>
          <td>
            <div class="btn-group">
              <button  (click)="openModal(template)" class="btn btn-outline-primary">alunos</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 </div>


     
 <ng-template #template>
   <div class="modal-header">
     <h4 class="modal-title pull-left">Modal</h4>
     <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
       <span aria-hidden="true" class="visually-hidden">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     This is a modal.
   </div>
 </ng-template>