<div class="row">
  <div  class = "col-sm-6" *ngIf="professorSelecionado">
    <div class ="row">
      <div class=  "me-auto">
        <app-titulo [titulo]="'Cód: professor:' + professorSelecionado.id"></app-titulo>
      </div>
      <div class="mt-1 ">
        <button class="btn btn-outline-danger" (click) = "voltar()">
          Fechar</button>
      </div>
    </div>

 

    <form [formGroup] ="professorForm" (submit)="professorSubmit">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName ='nome' class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Disciplina</label>
        <input type="text" formControlName ='sobrenome' class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
        <hr>
        <button class="btn btn-success" [disabled] ="!professorForm.valid">Enviar</button>
      </form>
      </div>
    
</div>

<div *ngIf="!professorSelecionado">
  <app-titulo [titulo]="titulo"></app-titulo>


<table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Disciplina</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let professor of professores" 
      style = "cursor: pointer;" (click)="professorSelect(professor)">
        <th scope="row">{{professor.id}}</th>
        <td>{{professor.nome}}</td>
        <td>{{professor.disciplina}}</td>
      </tr>
    </tbody>
  </table>
  </div>
